body {
    font-family: 'Halloween';
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: url(./img/background/2_game_background.png);
    background-position: center;
    background-size: cover;
}

h1 {
    font-size: 60px;
    font-weight: 100;
    margin-top: -72px;
    margin-bottom: 0;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
        1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

canvas {
    background-color: black;
    border: 1px solid white;
}

.game{
    position: relative;
}

.start-screen{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 1px;
    left: 1px;
    background-image: url('./img/menu.jpg');
    background-position: center;
    background-size: cover;
    height: 480px;
    width: calc(100% - 2px);
}

.start-screen img{
    height: 15%;
    margin-bottom: 10%;
    cursor: pointer;
    transition: scale 75ms ease-in-out;
}

.start-screen img:hover{
    scale: 1.05;;
}

.option{
    position:absolute;
    top: 12px;
    right: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 24px;
}

.option img{
    height: 32px;
    width: 32px;
    cursor: pointer;
    transition: scale 75ms ease-in-out;
}

.option img:hover{
    scale: 1.05;;
}

#fullscreen-option{
    display: none;
}


@media only screen and (max-width: 720px) {
    .game, canvas {
        width: 100%;
        border: none;
    }
    .start-screen{
        width: 100vw;
        align-self: center;
    }
}

@media only screen and (max-height: 480px) {
    .game, canvas, .start-screen {
        height: 100vh;
        border: none;
    }

    h1 {
        display: none;
    }
}